# Local Environment Variables
.env

# App Hosting Configuration (if you choose to manage it outside of git)
apphosting.yaml

# Next.js
.next/
node_modules/
out/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*