# Local Environment Variables
.env
.env.*

# App Hosting Configuration (if you choose to manage it outside of git)
apphosting.yaml*

# Next.js & Node
.next/
node_modules/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Firebase
.firebase/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Log files
*.logapphosting.yaml
